<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henan.yijiajia">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".main.YijiajiaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".p_hall.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".p_luncher.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".p_location.view.LocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".p_login.view.PhoneLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>